<!DOCTYPE html>
<html>
    <head>
        <title>Click-n-Pick</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/style.css">

    </head>
        <body>
            <section id="navbar">
            <nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top">
                <a class="navbar-brand text-white" href="/home"><i class="fa fa-hand-o-up text-white fa-2x" aria-hidden="true"></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span><i class="fa fa-list text-white fa-2x"></i></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-mobile fa-2x text-white" aria-hidden="true"></i> &nbsp;ELECTRONICS
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/catalogue/Mobile">MOBILES</a>
                          <a class="dropdown-item" href="/catalogue/Laptop">LAPTOPS</a>
                      </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-television fa-2x text-white" aria-hidden="true"></i> &nbsp;TV & APPLIANCES
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/catalogue/Television">TELEVISION</a>
                          <a class="dropdown-item" href="/catalogue/Washing Machine">WASHING MACHINES</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-home fa-2x text-white" aria-hidden="true"></i> &nbsp;HOME & FURNITURE
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/catalogue/Kithen Appliances">KITCHEN APPLIANCES</a>
                        <a class="dropdown-item" href="/catalogue/Kitchen Storage">KITCHEN STORAGE</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-tag fa-2x text-white" aria-hidden="true"></i> &nbsp;FASHION
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/catalogue/Men">MENS</a>
                          <a class="dropdown-item" href="/catalogue/Women">WOMENS</a>
                          <a class="dropdown-item" href="/catalogue/Kids">KIDS</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-book fa-2x text-white" aria-hidden="true"></i> &nbsp;SPORTS , BOOKS & MORE
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/catalogue/Sports">SPORTS</a>
                          <a class="dropdown-item" href="/catalogue/Books">BOOKS</a>
                          <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">MORE...</a>
                          </div>
                      </li>
                  </ul>
                 
                  <ul class="navbar-nav ml-auto">
                    <% if(currentUser) {%> 
                      <li class="nav-item dropdown mr-5">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="<%= currentUser.profile %> " alt="" height="50" width="50" style="border-radius: 50%;">
                          &nbsp;<%= currentUser.firstname %> 
                        </a>
              
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/profile"><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;My Profile </a>
                          <a class="dropdown-item" href="/orders"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;&nbsp;My Orders</a>
                          <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;Sign Out</a>
                        </div>
                      </li>
                      <li class="nav-item active mt-2 mr-5">
                        <span class="bg-white p-1"><%= currentUser.cart.length %></span> <a href="/cart "><i class="fa fa-shopping-cart fa-2x text-white" aria-hidden="true"></i></a>
                      </li>
                    <% } else{ %> 
                      
                      <li class="nav-item active">
                        <a class="btn btn-light text-primary" href="/login">LOGIN</a>
                      </li>&nbsp;
                      <li class="nav-item active">
                        <a class="btn btn-light text-primary" href="/register">REGISTER</a>
                      </li>
                    <% } %> 
                  </ul>
                </div>
              </nav>
            </section><br><br><br><br>