@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
*{
    font-family: 'Rancho';
    font-size: 18px;
    font-weight: 100;
}

#navbar{
    text-transform: uppercase;
}
.navbar .nav-link:hover{
    border-bottom: 2px solid white;
}

body{
    background: lightgray;
}

h1 {
    width: 50%;
    text-align: center;
    background-color: sandybrown;
    color: white;
}
