
<section id="category" class="bg-info container-fluid">
    <h1 class="text-center text-white display-4">The Best Of Electronics</h1><br>
    <%= products.forEach((product){ %>
      <div class="card">
        <img class="card-img-top" src="<%= product.image %>" height="150px" alt="Card image cap">
        <div class="card-body">
          <h3><%= product.title %></h3>
          <p class="card-text">Some quick example text to build.</p>
          <h2><%= product.price %></h2>
        </div>
      </div>
    <% }) %>
  
    <div class="row">
      <div class="col-md-2">
        <div class="card">
          <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/71UcuvuKleL._SL1500_.jpg" height="150px" alt="Card image cap">
          <div class="card-body">
            <h3>Product Name</h3>
            <p class="card-text">Some quick example text to build.</p>
            <h2>Rs. 47,800</h2>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img class="card-img-top" src="https://i01.appmifile.com/webfile/globalimg/in/cms/6052B3F5-CABB-F1BC-8E9A-D6F6D4D6C9CC.jpg" height="150" alt="Card image cap">
          <div class="card-body">
            <h3>Product Name</h3>
            <p class="card-text">Some quick example text to build.</p>
            <h2>Rs. 11,500</h2>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img class="card-img-top" src="https://5.imimg.com/data5/XI/KO/MY-16701245/apple-macbook-air-mqd32hn-a-13-3-inch-laptop-2017-core-i5-8-500x500.jpg" height="150" alt="Card image cap">
          <div class="card-body">
            <h3>Product Name</h3>
            <p class="card-text">Some quick example text to build.</p>
            <h2>Rs. 1,10,550</h2>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img class="card-img-top" src="https://5.imimg.com/data5/AW/EY/BY/SELLER-88260039/samsung-galaxy-m30-500x500.jpg" height="150" alt="Card image cap">
          <div class="card-body">
            <h3>Product Name</h3>
            <p class="card-text">Some quick example text to build.</p>
            <h2>Rs. 15,400</h2>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/918fgzOqtnL._AC_SX425_.jpg" height="150" alt="Card image cap">
          <div class="card-body">
            <h3>Product Name</h3>
            <p class="card-text">Some quick example text to build.</p>
            <h2>Rs. 96,700</h2>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card mt-5">
          <h1 class="text-center display-4 text-info">View More</h1>
        <i class="fa fa-chevron-circle-right text-info text-center fa-5x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    </section>
    <section id="category" class="bg-warning container-fluid">
      <h1 class="text-center text-white display-4">The Best Of TV & Appliances</h1><br>
      <div class="row">
      <div class="col-md-2">
        <div class="card">
          <img class="card-img-top" src="https://rukminim1.flixcart.com/image/416/416/kdeum4w0/television/z/m/d/hisense-40a56e-original-imafubtgbj7zh3uq.jpeg?q=70" height="150" alt="Card image cap">
          <div class="card-body">
            <h3>Product Name</h3>
            <p class="card-text">Some quick example text to build.</p>
            <h2>Rs. 24,880</h2>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img class="card-img-top" src="https://rukminim1.flixcart.com/image/150/150/k0r15e80/washing-machine-new/p/r/t/diva-aqua-vx-ifb-original-imafkh4jrftndzzj.jpeg?q=70" height="150" alt="Card image cap">
          <div class="card-body">
            <h3>Product Name</h3>
            <p class="card-text">Some quick example text to build.</p>
            <h2>Rs. 20,500</h2>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img class="card-img-top" src="https://rukminim1.flixcart.com/image/300/300/k5wse4w0/air-conditioner-new/n/n/x/ar18tv5hltu-1-5-split-dual-inverter-samsung-original-imafzhfvf2rdzztd.jpeg?q=90" height="150" alt="Card image cap">
          <div class="card-body">
            <h3>Product Name</h3>
            <p class="card-text">Some quick example text to build.</p>
            <h2>Rs. 33,990</h2>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img class="card-img-top" src="https://rukminim1.flixcart.com/image/312/312/jt395zk0/refrigerator-new/5/p/j/gl-i292rpzl-4-lg-original-imafegsfufwy3q4f.jpeg?q=70" height="150" alt="Card image cap">
          <div class="card-body">
            <h3>Product Name</h3>
            <p class="card-text">Some quick example text to build.</p>
            <h2>Rs. 15,600</h2>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <img class="card-img-top" src="https://rukminim1.flixcart.com/image/300/300/k02qnww0/microwave-new/v/f/q/ms23f301tak-tl-samsung-original-imafjyadcvmqw2hp.jpeg?q=90" height="150" alt="Card image cap">
          <div class="card-body">
            <h3>Product Name</h3>
            <p class="card-text">Some quick example text to build.</p>
            <h2>Rs. 1999</h2>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card mt-5">
          <h1 class="text-center display-4 text-warning">View More</h1>
        <i class="fa fa-chevron-circle-right text-warning text-center fa-5x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
        </section>
    <section id="category" class="bg-primary container-fluid">
      <h1 class="text-center text-white display-4">The Best Of Home & Furniture</h1><br>
            <div class="row">
            <div class="col-md-2">
              <div class="card">
                <img class="card-img-top" src="https://rukminim1.flixcart.com/image/612/612/k0r15e80/pressure-cooker/a/7/w/12735-pigeon-original-imafkhfucz9hhyf5.jpeg?q=70" height="150" alt="Card image cap">
                <div class="card-body">
                  <h3>Product Name</h3>
                  <p class="card-text">Some quick example text to build.</p>
                  <h2>Rs. 1999</h2>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card">
                <img class="card-img-top" src="https://rukminim1.flixcart.com/image/612/612/k0jvy4w0/gas-stove/b/g/n/8906022175615-butterfly-original-imafkbyh3aywwrzp.jpeg?q=70" height="150" alt="Card image cap">
                <div class="card-body">
                  <h3>Product Name</h3>
                  <p class="card-text">Some quick example text to build.</p>
                  <h2>Rs. 1999</h2>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card">
                <img class="card-img-top" src="https://rukminim1.flixcart.com/image/612/612/jxapua80/container/m/u/e/cntmodcep9-flipkart-smartbuy-original-imafhsk2wyye7vfg.jpeg?q=70" height="150" alt="Card image cap">
                <div class="card-body">
                  <h3>Product Name</h3>
                  <p class="card-text">Some quick example text to build.</p>
                  <h2>Rs. 1999</h2>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card">
                <img class="card-img-top" src="https://rukminim1.flixcart.com/image/612/612/jms25jk0/casserole/q/r/z/delight-casserole-gift-set-pink-milton-original-imaf9hy4e9ghzzha.jpeg?q=70" height="150" alt="Card image cap">
                <div class="card-body">
                  <h3>Product Name</h3>
                  <p class="card-text">Some quick example text to build.</p>
                  <h2>Rs. 1999</h2>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card">
                <img class="card-img-top" src="https://rukminim1.flixcart.com/image/612/612/jnun1jk0/dinner-set/a/f/c/dazzle-18-pcs-dinner-set-cello-original-imafaf39zdhas8c3.jpeg?q=70" height="150" alt="Card image cap">
                <div class="card-body">
                  <h3>Product Name</h3>
                  <p class="card-text">Some quick example text to build.</p>
                  <h2>Rs. 1999</h2>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card mt-5">
                <h1 class="text-center display-4 text-primary">View More</h1>
              <i class="fa fa-chevron-circle-right text-primary text-center fa-5x" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </section>
        <section id="category" class="bg-danger container-fluid">
          <h1 class="text-center text-white display-4">The Best Of Fashion</h1><br>
          <div class="row">
            <div class="col-md-2">
              <div class="card">
                <img class="card-img-top" src="https://ae01.alicdn.com/kf/HTB1fYoZXjzuK1RjSsppq6xz0XXaf/Autumn-Plaid-Shirt-Men-2019-New-Fashion-Casual-Business-Shirts-Mens-Clothing-Trend-Slim-Fit-Office.jpg" height="150" alt="Card image cap">
                <div class="card-body">
                  <h3>Product Name</h3>
                  <p class="card-text">Some quick example text to build.</p>
                  <h2>Rs. 1999</h2>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card">
                <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/519-zXTGa9L.jpg" height="150" alt="Card image cap">
                <div class="card-body">
                  <h3>Product Name</h3>
                  <p class="card-text">Some quick example text to build.</p>
                  <h2>Rs. 1999</h2>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card">
                <img class="card-img-top" src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/8969717/2019/3/28/e448c9a1-3a0f-40e7-b267-1bf44a44ba501553778956208-Indo-Era-Beige-Solid-Straight-Kurta-Sets-9801553778954623-1.jpg" height="150" alt="Card image cap">
                <div class="card-body">
                  <h3>Product Name</h3>
                  <p class="card-text">Some quick example text to build.</p>
                  <h2>Rs. 1999</h2>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card">
                <img class="card-img-top" src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/11735486/2020/7/7/b8e2400d-76e5-4bc1-a597-2da5e5bc3d041594119643357HERENOWMenBlueRegularFitMid-RiseCleanLookStretchableJeansKur1.jpg" height="150" alt="Card image cap">
                <div class="card-body">
                  <h3>Product Name</h3>
                  <p class="card-text">Some quick example text to build.</p>
                  <h2>Rs. 1999</h2>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card">
                <img class="card-img-top" src="https://cdn.cdnparenting.com/articles/2018/08/top-5-eco-friendly-kids-clothing-brands-you-will-love.jpg" height="150" alt="Card image cap">
                <div class="card-body">
                  <h3>Product Name</h3>
                  <p class="card-text">Some quick example text to build.</p>
                  <h2>Rs. 1999</h2>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card mt-5">
                <h1 class="text-center display-4 text-danger">View More</h1>
              <i class="fa fa-chevron-circle-right text-danger text-center fa-5x" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          </section>
          <section id="category" class="bg-success container-fluid">
              <h1 class="text-center text-white display-4">The Best Of Sports, Books & more</h1><br>
              <div class="row">
                  <div class="col-md-2">
                    <div class="card">
                      <img class="card-img-top" src="https://rukminim1.flixcart.com/image/612/612/kbv4fww0/bat/x/m/p/900gm-1000-short-handle-ceat-bat-poplar-willow-short-handle-original-imaft4bdsjgdjehc.jpeg?q=70" height="150" alt="Card image cap">
                      <div class="card-body">
                        <h3>Product Name</h3>
                        <p class="card-text">Some quick example text to build.</p>
                        <h2>Rs. 1999</h2>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="card">
                      <img class="card-img-top" src="https://rukminim1.flixcart.com/image/612/612/jyxaw7k0/ball/8/3/m/430-5-21-9-attacker-1-vectorxhx5-football-vector-x-original-imafj24h7vdswzhg.jpeg?q=70" height="150" alt="Card image cap">
                      <div class="card-body">
                        <h3>Product Name</h3>
                        <p class="card-text">Some quick example text to build.</p>
                        <h2>Rs. 1999</h2>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                      <div class="card">
                          <img class="card-img-top" src="https://rukminim1.flixcart.com/image/312/312/jxrv4i80/book/3/2/6/32-years-chapterwise-solutions-1988-2019-neet-physics-original-imafhggbxvkdk6jp.jpeg?q=70" height="150" alt="Card image cap">
                          <div class="card-body">
                              <h3>Product Name</h3>
                              <p class="card-text">Some quick example text to build.</p>
                              <h2>Rs. 1999</h2>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-2">
                      <div class="card">
                        <img class="card-img-top" src="https://rukminim1.flixcart.com/image/312/312/jvv9zm80/book/1/6/7/errorless-chemistry-neet-aiims-2020-by-universal-books-set-of-2-original-imafgzr3gzhpjhsh.jpeg?q=70" height="150" alt="Card image cap">
                        <div class="card-body">
                          <h3>Product Name</h3>
                          <p class="card-text">Some quick example text to build.</p>
                          <h2>Rs. 1999</h2>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-2">
                      <div class="card">
                        <img class="card-img-top" src="https://rukminim1.flixcart.com/image/612/612/k2arbm80/dumbbell/t/j/c/10-kg-2-5-x-4-adjustable-dumbbell-10-sai-kirpa-traders-original-imafhzhptgnr7mcg.jpeg?q=70" height="150" alt="Card image cap">
                        <div class="card-body">
                          <h3>Product Name</h3>
                          <p class="card-text">Some quick example text to build.</p>
                          <h2>Rs. 1999</h2>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-2">
                      <div class="card mt-5">
                        <h1 class="text-center display-4 text-success">View More</h1>
                      <i class="fa fa-chevron-circle-right text-success text-center fa-5x" aria-hidden="true"></i>
                      </div>
                  </div>
              </div>
            </section>
            <br><br>